alias grep='grep --color=auto' # Always highlight grep search term

alias pprint="python -mjson.tool"
alias tf='terraform'
alias vn="vagrant"
alias vnup="vn up --provider=vmware_fusion --provision"
alias jfleong="cd ~/repos/personal/jfleong.github.io"

alias sz="source ~/.zshrc"
alias venv="source venv/bin/activate"
